html {
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
  background: #F4EBE8;
  padding: 1rem;
}
body {
  margin: 0 auto;
}

h1 {
  margin: auto;
  color: #207368;
}

input, button {
  font-family: inherit;
}

#chat {
  margin-top: 2em;
  border: 2px solid #207368;
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
}

#input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

#user-input {
  width: 100%;
  height: 25px;
  margin-right: 1em;
  border: 2px solid #207368;
  border-radius: 5px;
}

#send-btn {
  width: 10%;
  border: 2px solid #207368;
  border-radius: 5px;
  background-color: #BFEFE7;
}

#send-btn:hover{
  background-color: #207368;
  color: white;
}

.user {
  color: #0353A4;
}

.bot {
  color: #F26419;
}
