<!DOCTYPE html>
<head>
  <title>{{appName}}</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
  <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='img/favicon.png') }}"
  />
</head>
<body>
  <div id="main-container">
    <header>
      <h1>{{appName}}</h1>
    </header>
  
    <div id="page-container">
      <fieldset id="chat"><legend>chatbot</legend></fieldset>
      <div id="thinking-div">
        <div><p>Loggy 🤖 is thinking</p></div>
        <div class="loader"></div>
      </div>
      <div id="input-container">
        <input
          id="user-input"
          type="text"
          placeholder="Ask your question here..."
          autofocus
        />
        <button id="send-btn">SEND</button>
      </div>
      <fieldset id="logs"><legend>logs</legend></fieldset>
    </div>
  
    <footer>
      <p>ETDSJ - {{appName}}® 2025 - v1.0.0</p>
    </footer>
  </div>

  <script>
    const chat = document.getElementById("chat");
    const logs = document.getElementById("logs");
    const input = document.getElementById("user-input");
    const btn = document.getElementById("send-btn");
    const thinking = document.getElementById("thinking-div");

    thinking.style.visibility = "hidden";
    getLogs();

    function addMessage(sender, text) {
      const div = document.createElement("div");
      div.className = sender;
      div.textContent = (sender === "user" ? "Me: " : "Loggy 🤖: ") + text;
      chat.appendChild(div);
      chat.scrollTop = chat.scrollHeight;
    }

    function addLogs(logsText) {
      logsText.split("\n").forEach((line) => {
        const div = document.createElement("div");
        div.className = "user";
        div.textContent = line;
        logs.appendChild(div);
      });
      logs.scrollTop = logs.scrollHeight;
    }

    btn.onclick = async function () {
      thinking.style.visibility = "visible";
      const message = input.value.trim();
      if (!message) return;
      addMessage("user", message);
      input.value = "";
      const res = await fetch("/ask", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ message }),
      });
      const data = await res.json();
      thinking.style.visibility = "hidden";
      addMessage("bot", data.response);
    };

    async function getLogs() {
      const res = await fetch("/logs", {
        method: "GET",
        headers: { "Content-Type": "application/json" },
      });
      data = await res.json();
      addLogs(data.response);
    }

    input.addEventListener("keydown", function (e) {
      if (e.key === "Enter") btn.click();
    });
  </script>
</body>
